<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Detector</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script>
        function closePopup() {
            const popup = document.querySelector('.popup');
            const overlay = document.querySelector('.overlay');

            popup.style.animation = 'fadeOut 0.5s forwards';
            overlay.style.animation = 'fadeOut 0.5s forwards';

            setTimeout(() => {
                popup.style.display = 'none';
                overlay.style.display = 'none';
                popup.style.animation = '';
                overlay.style.animation = '';
            }, 500);
        }

        async function checkSpam(event) {
            event.preventDefault(); 
        
            const emailMessage = document.getElementById('email_message').value;
        
            if (!emailMessage.trim()) {
                alert("Please enter a message to analyze.");
                return;
            }
        
            try {
                const response = await fetch('/predict', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email_message: emailMessage })
                });
        
                if (response.ok) {
                    const data = await response.json();
                    const popup = document.querySelector('.popup');
                    const overlay = document.querySelector('.overlay');
        
                    popup.querySelector('h2').textContent = `${data.result}`;
         
                    if (data.result.toLowerCase() === 'spam') {
                        overlay.style.backgroundColor = 'rgba(255, 32, 32, 0.8)';
                    } else if (data.result.toLowerCase() === 'ham') {
                        overlay.style.backgroundColor = 'rgba(9, 255, 0, 0.8)';
                    }
        
                    popup.style.display = 'block';
                    overlay.style.display = 'block';
        
                    popup.style.animation = 'bounceIn 0.5s ease';
                    overlay.style.animation = 'fadeIn 0.5s';
                } else {
                    alert('An error occurred while processing your request.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An unexpected error occurred.');
            }
        }

        function toggleTheme() {
            const body = document.body;
            const container = document.querySelector('.container');
            const textarea = document.querySelector('textarea');
            const button = document.querySelector('button');
            const footer = document.querySelector('footer');

            body.classList.toggle('light-mode');
            container.classList.toggle('light-mode');
            textarea.classList.toggle('light-mode');
            button.classList.toggle('light-mode');
            footer.classList.toggle('light-mode');
        }
    </script>
</head>
<body>
    <div class="overlay" onclick="closePopup()"></div>
    <div class="popup">
        <h2>Result</h2>
    </div>

    <div class="theme-switch">
        <label class="switch">
            <input type="checkbox" onclick="toggleTheme()">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="container">
        <h1>Détecteur de Spam Email</h1>
        <p>Bienvenue sur notre site de détection de spam ! Entrez votre message email ci-dessous, et notre système l'analysera pour déterminer s'il s'agit de <span style="color:rgba(255, 32, 32, 0.8); font-weight: 600;">SPAM</span> ou de <span style="color:rgba(9, 255, 0, 0.8); font-weight: 600;">HAM</span>.</p>
        <form onsubmit="checkSpam(event)">
            <textarea id="email_message" name="email_message" placeholder="Tapez votre message email ici..."></textarea><br>
            <button type="submit">Analyser</button>
        </form>
    </div>
    
    <footer>
        Créé par <a href="https://github.com/Skeiba">Salaheddine</a>
        et <a href="https://github.com/Yassin-Zaher">Yassin</a>
    </footer>
</body>
</html>